body{
    max-width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
}
.box-card{
    padding: 2px;
    background-color: rgb(212, 218, 223);
    box-shadow:0 0 4px 2px rgb(11, 12, 12);
    border-radius: 7px;
}
.box-card img{
    border-radius: 8px 8px 0 0;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .box-card{
        width: 100%;
        height: 150px;
        display: flex;
    }
    .filter-body{
        position: relative;
        width: 50%;
    }
    .box-card img{
        max-width: 50% !important;
        border-radius: 8px 8px 0 0;
    }
    .filter-body button{
        font-size: 10px;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .filter-body button{
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}